* {
    background-color: #060414;
    color: white;
}

.navigation-bar {
    height: 10vh;
}

.logo {
    padding-left: 5vw;
}

.banner {
    background: url(img/banner1.jpeg);
    padding-top: 35vh;
    padding-left: 30px;
    height: 90vh;
    background-position: center;
}

.movie {
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    position: relative;
}

.footer-contact-details {
    border-bottom: 1px solid #373636;
}

.contact-item i {
    color: #ffc107;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.contact-text {
    padding-left: 15px;
    display: inline-block;
}

.contact-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.contact-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.social-icon span {
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
}

.footer-card-title h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-card-title h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ffc107;
}

.footer-card ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-card ul li a:hover {
    color: #ffc107;
}

.footer-card ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ffc107;
    padding: 13px 20px;
    border: 1px solid #ffc107;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    background-color: #ffc107;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-text p a {
    color: #ffc107;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ffc107;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.nav-bar {
    padding-top: 1%;
    padding-right: 5vw;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #ffc107;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .btn-primary:hover {
    color: #fff;
}

